body {
    margin: 0;
}

#tocContainer {
    text-align: center;
}

#toc {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

#searchBox {
    background: black;
    color: azure;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

#goButton {
    background: aqua;
    color: black;
    padding: .4em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: .75em;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2em;
}

#urlBox {
    width: 50%;
}

#contents {
    padding: .5em;
}